langchain==0.3.0
langchain-community==0.3.0
langchain-core==0.3.0
langchain-openai==0.2.0
langchain-text-splitters==0.3.0
openai==1.45.0
beautifulsoup4==4.12.3
faiss-cpu==1.8.0
python-dotenv==1.0.1
colorama==0.4.6
tqdm==4.66.5
tiktoken==0.7.0
fastapi==0.115.0
uvicorn[standard]==0.30.6
pymongo==4.8.0
pydantic==1.10.13
